.table-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-table {
    width: 60%;
    height: 30rem;
}

.table-header {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-bottom: 1rem;
}

.table-footer {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.filter-popup {
    display: flex;
}